@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P';
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.scoreBoard  {
  color: white;
  text-align: center;
  font-family: 'Press Start 2P';
  display: flex;
  align-items: center;
  border: 10px bold white;
  /* position: fixed; */
}

h1 {
  color: white;
  margin-bottom: 35px;
}
.scoreBoard span {
  font-size: 20px;
  margin-left: 35px;
}
.scoreBoard h2 {
  font-size: 20px
}

#currentScore {
  margin-right: 50px;
}

#message {
  position: relative;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 15px;
  
}

/* #message::after{
  position: absolute;
  content: "";
  width: 1px;
  height: 25px;
  border-right: 2px solid white;
  right: -5px;
  animation: blink 0.5s infinite ease;
} 

 @keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */


