@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  background-color: black;
  font-family: 'Press Start 2P';
}

.header {
  display: flex;
  justify-content: center;
  align-items: space-around;
  color: white;
}

.header h1 {
  justify-self: center;
}

.scoreBoard  {
  color: white;
  text-align: center;
  font-family: 'Press Start 2P';
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 15px;
  
}


.user-score  {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.best {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.canvas-game {
  display: flex;
  justify-content: center;
  align-content: center;
}

.message {
  display: flex;
  justify-content: center;

  /* position: relative; */
  color: white;
  font-family: 'Press Start 2P';
  font-size: 15px;
}









