@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  background-color: black;
  display: flex;
}

.scoreBoard  {
  color: #90AEAE;
  text-align: center;
  font-family: 'Press Start 2P';
}

.scoreBoard span {
  font-size: 50px;
}



